# Node.js dependencies
node_modules/

# VSCode settings
.vscode/

# Package lock files
package-lock.json
yarn.lock

# Ignore by default in all subfolders
**/node_modules/
**/logs/
**/dist/
**/build/
**/.env
**/.env.*
**/.DS_Store
**/Thumbs.db
**/package-lock.json
**/yarn.lock 