@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: black;
  color: gold;
  font-family: 'Poppins', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  font-size: 4rem;
}
