body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 99vh; */
    background-color: black;
    color: gold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.clock{
    margin: 20% auto;
    font-size: 61px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
span{
    padding: 11px;
    transition: transform 0.2s ease-in-out;
}
